{{>layout/header}}

    <h1>toy board</h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/loginBoard" role="button" class="btn btn-primary">Login</a>
                {{#userName}}
                    Logged in as: <span id="user">{{userName}}</span>
                    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                {{/userName}}
            </div>
        </div>
        <br>
    </div>

{{>layout/footer}}
